.container {
  display: flex;
}
.column {
  margin: 5px;
  display: flex;

  flex-wrap: wrap;
  flex-direction: column;
}
.spinner {
  display: flex;
  margin-right: 14%;
}
.input {
  padding: 5px;
  height: 5%;
}
.centerContent {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
}

.vl {
    border-left: 6px solid green;
    height: 400px;
    margin: 10px;
    margin-left: 6px;
    top: 0;
  }